토큰화(Tokenization)

In [1]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
import nltk
nltk.download("punkt")
from nltk.tokenize import RegexpTokenizer
tokenizer=RegexpTokenizer("[\w]+")

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/jonghyunkim/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
conanob = "We are BaDa. We are BusinessAnalytics studygroup in Korea University Business school. Our major curriculum is studying Analytics tool, and Case study of Analyzing Business situations. If you would like to join us, you may contact us by our website."

In [3]:
sentence = sent_tokenize(conanob)
print(sentence)
word = word_tokenize(conanob)
print(word)

['We are BaDa.', 'We are BusinessAnalytics studygroup in Korea University Business school.', 'Our major curriculum is studying Analytics tool, and Case study of Analyzing Business situations.', 'If you would like to join us, you may contact us by our website.']
['We', 'are', 'BaDa', '.', 'We', 'are', 'BusinessAnalytics', 'studygroup', 'in', 'Korea', 'University', 'Business', 'school', '.', 'Our', 'major', 'curriculum', 'is', 'studying', 'Analytics', 'tool', ',', 'and', 'Case', 'study', 'of', 'Analyzing', 'Business', 'situations', '.', 'If', 'you', 'would', 'like', 'to', 'join', 'us', ',', 'you', 'may', 'contact', 'us', 'by', 'our', 'website', '.']

In [4]:
word2 = word_tokenize(sentence)

TypeError: expected string or bytes-like object

In [5]:
word3 = []
for s in sentence:
    w = word_tokenize(s)
    word3.append(w)
    
word3

[['We', 'are', 'BaDa', '.'],
 ['We',
  'are',
  'BusinessAnalytics',
  'studygroup',
  'in',
  'Korea',
  'University',
  'Business',
  'school',
  '.'],
 ['Our',
  'major',
  'curriculum',
  'is',
  'studying',
  'Analytics',
  'tool',
  ',',
  'and',
  'Case',
  'study',
  'of',
  'Analyzing',
  'Business',
  'situations',
  '.'],
 ['If',
  'you',
  'would',
  'like',
  'to',
  'join',
  'us',
  ',',
  'you',
  'may',
  'contact',
  'us',
  'by',
  'our',
  'website',
  '.']]

In [6]:
word4 = tokenizer.tokenize(conanob)
word4

['We',
 'are',
 'BaDa',
 'We',
 'are',
 'BusinessAnalytics',
 'studygroup',
 'in',
 'Korea',
 'University',
 'Business',
 'school',
 'Our',
 'major',
 'curriculum',
 'is',
 'studying',
 'Analytics',
 'tool',
 'and',
 'Case',
 'study',
 'of',
 'Analyzing',
 'Business',
 'situations',
 'If',
 'you',
 'would',
 'like',
 'to',
 'join',
 'us',
 'you',
 'may',
 'contact',
 'us',
 'by',
 'our',
 'website']

In [7]:
word5 = []
for se in sentence:
    wo = tokenizer.tokenize(se)
    word5.append(wo)
    
word5

[['We', 'are', 'BaDa'],
 ['We',
  'are',
  'BusinessAnalytics',
  'studygroup',
  'in',
  'Korea',
  'University',
  'Business',
  'school'],
 ['Our',
  'major',
  'curriculum',
  'is',
  'studying',
  'Analytics',
  'tool',
  'and',
  'Case',
  'study',
  'of',
  'Analyzing',
  'Business',
  'situations'],
 ['If',
  'you',
  'would',
  'like',
  'to',
  'join',
  'us',
  'you',
  'may',
  'contact',
  'us',
  'by',
  'our',
  'website']]

불용어 배제(Stopwords)

In [8]:
##불용어 배제(Stopwords)
from sklearn.feature_extraction import text
sklearn_stopwords = text.ENGLISH_STOP_WORDS
print(sklearn_stopwords)

frozenset({'yourself', 'already', 'beside', 'thick', 'the', 'besides', 'therefore', 'keep', 'had', 'nothing', 'same', 'please', 'call', 'become', 'eight', 'of', 'enough', 'thereby', 'this', 'everything', 'about', 'somewhere', 'over', 'eleven', 'wherever', 'formerly', 'inc', 'their', 'another', 'hers', 'nor', 'meanwhile', 'part', 'etc', 'than', 'ltd', 'be', 'hereafter', 'though', 'out', 'thus', 'very', 'any', 'too', 'nine', 'off', 'what', 'describe', 'and', 'nobody', 'mill', 'sixty', 'bottom', 'more', 'these', 'you', 'found', 'top', 'namely', 'whenever', 'but', 'fifteen', 'which', 'at', 'anyway', 'front', 'such', 'we', 'will', 'others', 'often', 'for', 'nevertheless', 'he', 'its', 'behind', 'cry', 'un', 're', 'side', 'why', 'other', 'almost', 'below', 'seeming', 'when', 'one', 'three', 'co', 'always', 'within', 'that', 'twelve', 'until', 'six', 'con', 'before', 'put', 'through', 'seemed', 'ie', 'with', 'hasnt', 'i', 'show', 'fill', 'to', 'else', 'wherein', 'see', 'take', 'themselves', 'whither', 'hence', 'otherwise', 'because', 'between', 'only', 'toward', 'interest', 'twenty', 'thru', 'seems', 'detail', 'each', 'around', 'sometimes', 'whose', 'anywhere', 'hereby', 'his', 'in', 'former', 'except', 'elsewhere', 'many', 'sincere', 'four', 'anyone', 'much', 'itself', 'since', 'no', 'whereby', 'has', 'empty', 'latter', 'due', 'upon', 'well', 'onto', 'would', 'amoungst', 'an', 'must', 'thin', 'hereupon', 'via', 'after', 'there', 'therein', 'somehow', 'ever', 'find', 'cant', 'once', 'rather', 'am', 'name', 'above', 'afterwards', 'together', 'being', 'per', 'whole', 'where', 'yours', 'although', 'herself', 'she', 'have', 'were', 'hundred', 'our', 'down', 'sometime', 'go', 'made', 'mine', 'then', 'most', 'him', 'a', 'couldnt', 'your', 'de', 'her', 'least', 'own', 'less', 'indeed', 'full', 'us', 'get', 'without', 'whatever', 'so', 'latterly', 'ourselves', 'thereupon', 'can', 'could', 'against', 'however', 'should', 'either', 'if', 'or', 'beyond', 'two', 'now', 'further', 'move', 'been', 'first', 'may', 'me', 'fire', 'under', 'on', 'became', 'serious', 'next', 'moreover', 'across', 'forty', 'do', 'few', 'some', 'towards', 'is', 'alone', 'my', 'here', 'ours', 'both', 'into', 'herein', 'throughout', 'never', 'yourselves', 'whom', 'myself', 'everyone', 'beforehand', 'nowhere', 'still', 'even', 'thereafter', 'are', 'whence', 'ten', 'how', 'as', 'again', 'cannot', 'none', 'back', 'eg', 'done', 'anyhow', 'himself', 'whoever', 'every', 'them', 'also', 'whether', 'not', 'they', 'while', 'noone', 'along', 'give', 'seem', 'amongst', 'whereas', 'who', 'amount', 'something', 'bill', 'becoming', 'last', 'neither', 'third', 'everywhere', 'fifty', 'becomes', 'up', 'all', 'during', 'thence', 'might', 'whereafter', 'several', 'by', 'system', 'whereupon', 'five', 'was', 'someone', 'from', 'among', 'it', 'those', 'anything', 'mostly', 'yet', 'perhaps'})

In [9]:
##Bag of words 형태로 뽑힌 것들 중 가장 깔끔하게 구두점 없이 형성된 것이 word4니까 word4 사용
useful = []
for word in word4:
    if not word in sklearn_stopwords:
        useful.append(word)
useful

['We',
 'BaDa',
 'We',
 'BusinessAnalytics',
 'studygroup',
 'Korea',
 'University',
 'Business',
 'school',
 'Our',
 'major',
 'curriculum',
 'studying',
 'Analytics',
 'tool',
 'Case',
 'study',
 'Analyzing',
 'Business',
 'situations',
 'If',
 'like',
 'join',
 'contact',
 'website']

어간추출(Stemming) &  표제어추출(Lemmatizing)

In [10]:
## 어간추출(Stemmeing)
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

ps = PorterStemmer()
ls = LancasterStemmer()

In [11]:
## 표제어추출(Lemmatizing)
from nltk.stem import WordNetLemmatizer

lm = WordNetLemmatizer()

In [12]:
## Stemming tool 간의 차이를 보자
bow1 = ["fly", "flying", "flew"]
print("ps_result", [ps.stem(i) for i in bow1])
print("ls_result", [ls.stem(w) for w in bow1])
bow2 = ["organs", "organization"]
print("ps_result", [ps.stem(i) for i in bow2])
print("ls_result", [ls.stem(w) for w in bow2])

ps_result ['fli', 'fli', 'flew']
ls_result ['fly', 'fly', 'flew']
ps_result ['organ', 'organ']
ls_result ['org', 'org']

In [13]:
## 위와 같은 결과 때문에, stemming tool을 사용한 후에는 어간추출이 잘 이루어졌는지 잘 확인해보는 것이 중요하다.

In [14]:
##Lemmatizing tool?
print("lm_result", [lm.lemmatize(w) for w in bow1])

lm_result ['fly', 'flying', 'flew']

In [15]:
## pos 정보를 입력해주어야 한다.
from nltk.tag import pos_tag
pos_l = pos_tag(bow1)
print('pos_tagging', pos_l)

pos_tagging [('fly', 'NN'), ('flying', 'VBG'), ('flew', 'VBD')]

In [16]:
lm.lemmatize('flying', 'v') ## 보다 싶이 태깅을 통해 불러온 품사 정보와, 우리가 lemmatizing 시 입력해야 하는 품사의 형태가 다르다.

'fly'

TF-IDF

In [17]:
##TF-IDF 직접 해보자
import pandas as pd # 데이터프레임 사용을 위해
from math import log # IDF 계산을 위해

word4.sort()
word4

['Analytics',
 'Analyzing',
 'BaDa',
 'Business',
 'Business',
 'BusinessAnalytics',
 'Case',
 'If',
 'Korea',
 'Our',
 'University',
 'We',
 'We',
 'and',
 'are',
 'are',
 'by',
 'contact',
 'curriculum',
 'in',
 'is',
 'join',
 'like',
 'major',
 'may',
 'of',
 'our',
 'school',
 'situations',
 'study',
 'studygroup',
 'studying',
 'to',
 'tool',
 'us',
 'us',
 'website',
 'would',
 'you',
 'you']

In [18]:
bow = []
for v in word4:
    if v not in bow:
        bow.append(v)
print(bow)

['Analytics', 'Analyzing', 'BaDa', 'Business', 'BusinessAnalytics', 'Case', 'If', 'Korea', 'Our', 'University', 'We', 'and', 'are', 'by', 'contact', 'curriculum', 'in', 'is', 'join', 'like', 'major', 'may', 'of', 'our', 'school', 'situations', 'study', 'studygroup', 'studying', 'to', 'tool', 'us', 'website', 'would', 'you']

In [19]:
# 총 문서의 수
N = len(sentence) 

def tf(t, d):
  return d.count(t)

def idf(t):
  df = 0
  for sent in sentence:
    df += t in sent
  return log(N/(df+1))

def tfidf(t, d):
  return tf(t,d)* idf(t)

In [20]:
result = []

# 각 문서에 대해서 아래 연산을 반복
for i in range(N):
  result.append([])
  d = sentence[i]
  for j in range(len(bow)):
    t = bow[j]
    result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = bow)
tf_

,Analytics,Analyzing,BaDa,Business,BusinessAnalytics,Case,If,Korea,Our,University,...,situations,study,studygroup,studying,to,tool,us,website,would,you
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,2,1,0,0,1,0,1,...,0,1,1,0,0,0,2,0,0,0
2,1,1,0,1,0,1,0,0,1,0,...,1,2,0,1,1,1,1,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,2,1,1,2

In [21]:
result = []
for j in range(len(bow)):
    t = bow[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=bow, columns=["IDF"])
idf_

                        IDF
Analytics          0.287682
Analyzing          0.693147
BaDa               0.693147
Business           0.287682
BusinessAnalytics  0.693147
Case               0.693147
If                 0.693147
Korea              0.693147
Our                0.693147
University         0.693147
We                 0.287682
and                0.693147
are                0.287682
by                 0.693147
contact            0.693147
curriculum         0.693147
in                 0.000000
is                 0.693147
join               0.693147
like               0.693147
major              0.693147
may                0.693147
of                 0.693147
our                0.693147
school             0.693147
situations         0.693147
study              0.287682
studygroup         0.693147
studying           0.693147
to                 0.287682
tool               0.693147
us                 0.000000
website            0.693147
would              0.693147
you                0.693147

In [22]:
result = []
for i in range(N):
  result.append([])
  d = sentence[i]
  for j in range(len(bow)):
    t = bow[j]
    result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = bow)
tfidf_

,Analytics,Analyzing,BaDa,Business,BusinessAnalytics,Case,If,Korea,Our,University,...,situations,study,studygroup,studying,to,tool,us,website,would,you
0,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,0.287682,0.000000,0.000000,0.575364,0.693147,0.000000,0.000000,0.693147,0.000000,0.693147,...,0.000000,0.287682,0.693147,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2,0.287682,0.693147,0.000000,0.287682,0.000000,0.693147,0.000000,0.000000,0.693147,0.000000,...,0.693147,0.575364,0.000000,0.693147,0.287682,0.693147,0.0,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.287682,0.000000,0.0,0.693147,0.693147,1.386294

In [23]:
##Sklearn을 이용한 TF-IDF 툴
from sklearn.feature_extraction.text import CountVectorizer


vector = CountVectorizer()

# 코퍼스로부터 각 단어의 빈도수를 기록
print(vector.fit_transform(sentence).toarray())

# 각 단어와 맵핑된 인덱스 출력
print(vector.vocabulary_)

[[0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 0]
 [1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 1 0 1 1 0 1 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0 2 0 1 1 2]]
{'we': 30, 'are': 3, 'bada': 4, 'businessanalytics': 6, 'studygroup': 24, 'in': 12, 'korea': 15, 'university': 28, 'business': 5, 'school': 21, 'our': 20, 'major': 17, 'curriculum': 10, 'is': 13, 'studying': 25, 'analytics': 0, 'tool': 27, 'and': 2, 'case': 8, 'study': 23, 'of': 19, 'analyzing': 1, 'situations': 22, 'if': 11, 'you': 33, 'would': 32, 'like': 16, 'to': 26, 'join': 14, 'us': 29, 'may': 18, 'contact': 9, 'by': 7, 'website': 31}

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer


tfidfv = TfidfVectorizer().fit(sentence)
print(tfidfv.transform(sentence).toarray())
print(tfidfv.vocabulary_)

[[0.         0.         0.         0.52640543 0.66767854 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.52640543 0.         0.         0.        ]
 [0.         0.         0.         0.28113163 0.         0.28113163
  0.35657982 0.         0.         0.         0.         0.
  0.35657982 0.         0.         0.35657982 0.         0.
  0.         0.         0.         0.35657982 0.         0.
  0.35657982 0.         0.         0.         0.35657982 0.
  0.28113163 0.         0.         0.        ]
 [0.2747918  0.2747918  0.2747918  0.         0.         0.21664901
  0.         0.         0.2747918  0.         0.2747918  0.
  0.         0.2747918  0.         0.         0.         0.2747918
  0.         0.2747918  0.21664901 0.         0.2747918  0.2747918
  0.         0.2747918  0.         0.2747918  0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.23821956 0.         0.23821956 0.         0.23821956
  0.         0.         0.23821956 0.         0.23821956 0.
  0.23821956 0.         0.18781504 0.         0.         0.
  0.         0.         0.23821956 0.         0.         0.47643912
  0.         0.23821956 0.23821956 0.47643912]]
{'we': 30, 'are': 3, 'bada': 4, 'businessanalytics': 6, 'studygroup': 24, 'in': 12, 'korea': 15, 'university': 28, 'business': 5, 'school': 21, 'our': 20, 'major': 17, 'curriculum': 10, 'is': 13, 'studying': 25, 'analytics': 0, 'tool': 27, 'and': 2, 'case': 8, 'study': 23, 'of': 19, 'analyzing': 1, 'situations': 22, 'if': 11, 'you': 33, 'would': 32, 'like': 16, 'to': 26, 'join': 14, 'us': 29, 'may': 18, 'contact': 9, 'by': 7, 'website': 31}