In [2]:
from bs4 import BeautifulSoup
import urllib.request as req

In [4]:
url = 'https://www.opentable.com/r/the-woo-new-york'
html = req.urlopen(url)
doc = BeautifulSoup(html, 'html.parser')

In [17]:
reviews = [doc.find_all(class_ = 't9JcvSL3Bsj1lxMSi3pz h_kb2PFOoyZe1skyGiz9 Ti64w3n01MDTYZb59n6Q')[n].text for n in [3,4]]
reviews

['I am a fan of Woo Lae Oak and have been patiently waiting to try The Woo. Food is just as good.',
 'Very yummy and piping hot! I loved the food and would recommend!']

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cv = CountVectorizer(lowercase=True, stop_words="english") ##convert everything to lowercase letter, delete stopwords in english

In [20]:
cv_reviews = cv.fit_transform(reviews)

In [21]:
cv_reviews.toarray()

array([[1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 2, 0],
       [0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1]])

In [22]:
cv_terms = cv.get_feature_names()

In [23]:
print(cv_terms)

['fan', 'food', 'good', 'hot', 'just', 'lae', 'loved', 'oak', 'patiently', 'piping', 'recommend', 'try', 'waiting', 'woo', 'yummy']

In [24]:
import pandas as pd

In [27]:
pd.DataFrame(cv_reviews.toarray(), columns=cv_terms)

,fan,food,good,hot,just,lae,loved,oak,patiently,piping,recommend,try,waiting,woo,yummy
0,1,1,1,0,1,1,0,1,1,0,0,1,1,2,0
1,0,1,0,1,0,0,1,0,0,1,1,0,0,0,1

In [28]:
from nltk.corpus import stopwords

In [29]:
nltk_stopwords = stopwords.words("english")

In [30]:
print(nltk_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [31]:
from sklearn.feature_extraction import text

In [33]:
sklearn_stopwords = text.ENGLISH_STOP_WORDS

In [34]:
print(sklearn_stopwords) ##it is already defined as a set. so we don't need to 'union' just combine

frozenset({'thereupon', 'whose', 'only', 'any', 'have', 'everything', 'namely', 'beyond', 'each', 'again', 'me', 'must', 'against', 'eight', 'bottom', 'someone', 'give', 'cry', 'de', 'neither', 'she', 'should', 'too', 'into', 'further', 'about', 'therefore', 'part', 'along', 'somehow', 'he', 'then', 'thence', 'some', 'most', 'couldnt', 'become', 'though', 'around', 'eleven', 'moreover', 'who', 'fire', 'my', 'latter', 'seemed', 'next', 'else', 'nothing', 'another', 'is', 'him', 'over', 'sincere', 'under', 'whereby', 'not', 'thus', 'etc', 'herein', 'be', 'although', 'more', 'onto', 'see', 'done', 'ten', 'beforehand', 'here', 'anywhere', 'without', 'and', 'if', 'own', 'mostly', 'to', 'cant', 'that', 'her', 'via', 'these', 'hereupon', 'thick', 'bill', 'due', 'afterwards', 'what', 'whatever', 'such', 'they', 'back', 'all', 'one', 'less', 'nowhere', 'now', 'yourself', 'full', 'formerly', 'we', 'wherein', 'was', 'sixty', 'seems', 'whoever', 'thereby', 'much', 'six', 'thin', 'would', 'by', 'down', 'something', 'until', 'system', 'how', 'amoungst', 'the', 'show', 'but', 'fill', 'between', 'besides', 'un', 'his', 'front', 'top', 'sometimes', 'from', 'enough', 'seeming', 'found', 'get', 'there', 'everyone', 'made', 'nor', 'mill', 'twelve', 'whence', 'amount', 'name', 'out', 'could', 'once', 'this', 'no', 're', 'can', 'con', 'them', 'nevertheless', 'forty', 'during', 'their', 'beside', 'same', 'alone', 'ours', 'whenever', 'thru', 'up', 'often', 'than', 'myself', 'at', 'former', 'whereupon', 'both', 'fifty', 'you', 'twenty', 'hereby', 'last', 'indeed', 'nobody', 'move', 'hundred', 'your', 'except', 'hence', 'do', 'call', 'put', 'already', 'wherever', 'every', 'may', 'others', 'since', 'none', 'keep', 'below', 'ie', 'hereafter', 'hasnt', 'above', 'amongst', 'throughout', 'several', 'anyone', 'fifteen', 'on', 'meanwhile', 'after', 'which', 'ourselves', 'yours', 'very', 'through', 'perhaps', 'are', 'eg', 'hers', 'almost', 'had', 'has', 'our', 'in', 'empty', 'always', 'describe', 'however', 'yet', 'together', 'rather', 'also', 'three', 'an', 'many', 'of', 'those', 'within', 'somewhere', 'third', 'two', 'being', 'detail', 'am', 'across', 'so', 'per', 'take', 'where', 'anything', 'anyway', 'thereafter', 'never', 'anyhow', 'whereafter', 'whether', 'as', 'its', 'five', 'please', 'might', 'us', 'yourselves', 'becoming', 'few', 'everywhere', 'otherwise', 'ever', 'sometime', 'i', 'latterly', 'therein', 'towards', 'will', 'serious', 'been', 'while', 'either', 'off', 'elsewhere', 'whither', 'whereas', 'find', 'well', 'before', 'cannot', 'co', 'least', 'whom', 'nine', 'seem', 'were', 'four', 'a', 'it', 'other', 'whole', 'himself', 'mine', 'behind', 'noone', 'among', 'first', 'go', 'when', 'themselves', 'side', 'still', 'why', 'toward', 'itself', 'becomes', 'interest', 'even', 'for', 'ltd', 'upon', 'became', 'because', 'inc', 'or', 'herself', 'with'})

In [35]:
my_stopwords = ["woo", "lae", "oak"]

In [36]:
new_stopwords = sklearn_stopwords.union(my_stopwords)

In [37]:
cv = CountVectorizer(lowercase=True, stop_words=new_stopwords)

In [39]:
cv_reviews = cv.fit_transform(reviews)

In [40]:
cv_terms = cv.get_feature_names()

In [41]:
pd.DataFrame(cv_reviews.toarray(), columns=cv_terms)

,fan,food,good,hot,just,loved,patiently,piping,recommend,try,waiting,yummy
0,1,1,1,0,1,0,1,0,0,1,1,0
1,0,1,0,1,0,1,0,1,1,0,0,1

In [42]:
##Stemming

In [43]:
from nltk.stem import PorterStemmer

In [46]:
ps = PorterStemmer()

In [47]:
cv1 = CountVectorizer(lowercase=True, stop_words=new_stopwords).build_analyzer()

In [48]:
def stem(x):
    return (ps.stem(w) for w in cv1(x))

In [49]:
cv2 = CountVectorizer(analyzer = stem)

In [50]:
new_cv_reviews = cv2.fit_transform(reviews)

In [51]:
new_cv_reviews.toarray()

array([[1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1]])

In [52]:
new_cv_terms = cv2.get_feature_names()

In [53]:
pd.DataFrame(new_cv_reviews.toarray(), columns=new_cv_terms)

,fan,food,good,hot,just,love,patient,pipe,recommend,tri,wait,yummi
0,1,1,1,0,1,0,1,0,0,1,1,0
1,0,1,0,1,0,1,0,1,1,0,0,1

In [54]:
##My Tokenizer - stem 보다 교수님이 선호하는건 My tokenizer b/c 내가 무슨일이 일어나는지 파악하고 개량할 수 있으니까

In [55]:
from nltk.tokenize import word_tokenize

In [56]:
def my_tokenizer(r):
    r1 = word_tokenize(r)
    r2 = [w.lower() for w in r1 if w.isalpha()]
    r3 = [w for w in r2 if not w in new_stopwords]
    r4 = [ps.stem(w) for w in r3]
    return r4

In [57]:
cv = CountVectorizer(tokenizer = my_tokenizer) ##위에 내가 만든 함수를 토큰화 장치로 사용하라

In [58]:
cv_reviews = cv.fit_transform(reviews)

In [59]:
cv_reviews.toarray()

array([[1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1]])

In [60]:
cv_terms = cv.get_feature_names()

In [61]:
pd.DataFrame(cv_reviews.toarray(), columns = cv_terms)

,fan,food,good,hot,just,love,patient,pipe,recommend,tri,wait,yummi
0,1,1,1,0,1,0,1,0,0,1,1,0
1,0,1,0,1,0,1,0,1,1,0,0,1